$bColor : rgba(186,173,182,1);
$dColor : rgba(0,0,5,1);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none;
	color: white;
}

html,
body {
	background: linear-gradient(180deg, rgba(0,0,5,1) 0%, rgba(37,58,75,1) 60%, rgba(186,173,182,1) 100%);
	background-size: 400%;
	height: 100vh;
	cursor: none;
	-ms-overflow-style: none;
	/* 인터넷 익스플로러 */
	scrollbar-width: none;
	/* 파이어폭스 */
}

::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
}

.cursor {
	width: 2.5rem;
	height: 2.5rem;
	border: 1px solid rgba(255,255,255,0.8);
	border-radius: 50%;
	position: absolute;
	z-index: 1000;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: all 0.3s ease;
	transition-property: background-color, background-size, transform;
	transform-origin: 100% 100%;
	backdrop-filter: blur(1px);
	background-color: rgba(255, 255, 255, 0.2);
	background-size: cover;
}

//	transform: scale(2);
//	background-color: rgba(0, 0, 0, 0.5);